# Java compiler
bin/
*.class
*.jar
*.war
*.ear

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml
out/

# Build
target/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Classpath / Project files
*.classpath
*.project

.metadata/